doctype html
html
 body
  h1 Server Running
  a(style={color: 'red', 'font-size': '20px'}, href='https://github.com/mbaglieri') mbaglieri
  br
  a(style={color: 'red', 'font-size': '20px'}, href='/api-docs') ApiDocs
 